<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MailSuite">
    <test name="mails">
        <classes>
            <class name="tests.SortTest"/>
            <class name="tests.ComparativeTest"/>
            <class name="tests.FilterTest"/>
        </classes>
    </test>
</suite>